<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <container>

    <register type="WebAuto.DriverManager,WebAuto" mapTo="WebAuto.DriverManager,WebAuto" >
      <property name="BonusUrl" value="http://www.like4like.org/user/bonus-page.php"/>
      <property name="Arg" value="--disable-notifications"/>
      <property name="DriverPath" value="C:\Program Files\ChromeDriver"/>
      <property name="DriverTimeOut" value="15"/>
    </register>

    <register type="WebAuto.PostFacebookGroup.LoginPage,WebAuto" mapTo="WebAuto.PostFacebookGroup.LoginPage,WebAuto" >
      <property name="UserName" value="trang4hoa4@gmail.com"/>
      <property name="Password" value="trang290994"/>
      <property name="LoginUrl" value="https://www.facebook.com/"/>
      <property name="ElementLoginButtonXPath" value="//input[@value='Đăng nhập']"/>
      <property name="ElementEmailId" value="//*[@id='email']"/>
      <property name="ElementPassId" value="//*[@id='pass']"/>
      <property name="ElementCheckSuccessXPath" value="//*[@id='u_0_e']"/>

    </register>

  </container>
</unity>