<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <container>
    <!--LoginPage-->
    <register type="AutoWeb.Like4Like.LoginPage,AutoWeb" mapTo="AutoWeb.Like4Like.LoginPage,AutoWeb" >
      <property name="LoginUrl" value="http://www.like4like.org/user/login.php"/>
      <property name="ElementUserNameXPath" value="//input[@name='username']"/>
      <property name="UserName" value="trang1hoa1"/>
      <property name="ElementPasswordXPath" value="//input[@name='password']"/>
      <property name="Password" value="Tinhlagio1989"/>
      <property name="ElementSubmitXPath" value="//input[@name='submit']"/>
      <property name="ElementCheckLoginSuccessXPath" value="//*[@id='earned-credits']"/>
      <property name="ElementCheckFailedXPath" value="//*[@id='adcopy-outer']"/>
    </register>

    <!--Like4LikeManager-->
    <register type="AutoWeb.Like4Like.Like4LikeManager,AutoWeb" mapTo="AutoWeb.Like4Like.Like4LikeManager,AutoWeb" >
      <property name="BonusUrl" value="http://www.like4like.org/user/bonus-page.php"/>
      <property name="Arg" value="--disable-notifications"/>
      <property name="DriverPath" value="C:\Program Files\ChromeDriver"/>
      <property name="DriverTimeOut" value="15"/>
    </register>

    <!--LikeYoutubePage-->
    <register type="AutoWeb.Like4Like.LikeYoutubePage,AutoWeb" mapTo="AutoWeb.Like4Like.LikeYoutubePage,AutoWeb" >
      <property name="UserName" value="trang4hoa4@gmail.com"/>
      <property name="Password" value="trang290994"/>
      <property name="LoginUrl" value="https://www.youtube.com/"/>
      <property name="EarnUrl" value="http://www.like4like.org/user/earn-youtube.php"/>
      <property name="Types">
        <array>
          <value value="url(http://www.like4like.org/img/icon/earn-youtube-like.png)###//*[contains(@alt,'người khác thích video này')] | //button[@title='I like this'] | //button[@title='Tôi thích video này']"/>
        </array>
      </property>
      <property name="ElementGotoLoginXPath" value="//span[text()='Đăng nhập' or text()='Sign in']"/>
      <property name="ElementEmailId" value="Email"/>
      <property name="ElementNextId" value="next"/>
      <property name="ElementPassId" value="Passwd"/>
      <property name="ElementSiginId" value="signIn"/>
    </register>

    <!--LikeYoutubePage-->
    <register type="AutoWeb.Like4Like.LikeFacebookPage,AutoWeb" mapTo="AutoWeb.Like4Like.LikeFacebookPage,AutoWeb" >
      <property name="UserName" value="trang4hoa4@gmail.com"/>
      <property name="Password" value="trang290994"/>
      <property name="LoginUrl" value="https://www.facebook.com/"/>
      <property name="ElementLoginButtonXPath" value="//input[@value='Đăng nhập']"/>
      <property name="ElementEmailId" value="//*[@id='email']"/>
      <property name="ElementPassId" value="//*[@id='pass']"/>
      <property name="EarnUrl" value="http://www.like4like.org/free-facebook-likes.php"/>

      <property name="Types">
        <array>
          <value value="url(http://www.like4like.org/img/icon/earn-facebook-post-like.png)###//a[@class='UFILikeLink _4x9- _4x9_ _48-k']"/>
          <value value="url(http://www.like4like.org/img/icon/earn-facebook-like.png)###//button[@class='likeButton _4jy0 _4jy4 _517h _51sy _42ft']"/>
          <value value="url(http://www.like4like.org/img/icon/earn-facebook-photo-like.png)###//a[@class='UFILikeLink _4x9- _4x9_ _48-k']"/>
        </array>
      </property>
    </register>

  </container>
</unity>